html { /*we need to set the page width and height to 100% to get the reference size*/
    height: 100%;
    width: 100%;
}

/*set the body height and width to 100% so child elements can inherit its size*/
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

/*class that enables panning - touch scrooling - read more here: http://msdn.microsoft.com/en-us/library/ie/hh772726(v=vs.85).aspx */
.touch-enabled {
    -ms-scroll-snap-type: mandatory;
    -ms-scroll-snap-points-y: snapInterval(0%, 100%);
    -ms-scroll-chaining: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

/*this class is used to inherit height and width from the parrent.*/
.inherit-size {
    height: inherit;
    width: inherit;
}

.text-center {
    text-align: center;
}

/*style the slides*/
#slide1 {
    color: white;
}

#slide2 {
    background-image: url('img/city.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slide3 {
}

#welcome-wrap{
    padding:10% 0 0 0;
}

#welcome {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    line-height: 150px;
    background-color: #808080;
    margin: 0 auto 0 auto;
}

/* MEDIA QUERIES */

/*  Small screens */
@media only screen {
}
/* Define mobile styles */


/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {
}

/* Medium screens */
@media only screen and (min-width: 40.063em) {
}
/* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
}
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */
@media only screen and (min-width: 64.063em) {
}
/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}
/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) {
}
/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
}
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) {
}
/* min-width 1921px, xlarge screens */
